<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add connectionString="Data Source=LAPTOP-CGI72GO0\SQLEXPRESS;Initial Catalog=FinalDatabase;Integrated Security=True " name="FinalDatabaseConn" providerName="System.Data.SqlClient"  />
	</connectionStrings>
	
</configuration>
	
